## Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
Share
Follow
edited May 31 '16 at 15:36
answered May 2 '15 at 4:58

GabrielOshiro
7,04244 gold badges4040 silver badges5252 bronze badges
1
"By default they suggest you ignore everything from .idea/" - not any more. Currently generated .gitignore doesn't have the .idea/ entry. – Mikolaj May 31 '16 at 15:17
3
Why would you ignore .idea/dictionaries outright? – user824425 Sep 10 '16 at 14:11
@Rhymoid I don't know why specifically since I am not the one proposing the .gitignore. I am just showing the tool that does it. My guess is that it is a personal file. You can add stuff in your dictionary that might not be valid for others. Specially when you are cleaning up LINT messages. I believe that if you agree amongst your teammates you might add it to your git repo. – GabrielOshiro Sep 12 '16 at 15:00
2
I intended to use the generic 'you', sorry. But with the parallels it has to linting, it totally makes sense to have them in a source repo, because the entries will in fact apply to everyone: the dictionaries are specific to the content of the project! For instance, when working on a parser for C, everyone will run into the problem that the word "punctuator" is falsely marked as a misspelling... unless you share the dictionary. – user824425 Sep 12 '16 at 18:37
@user824425 IntelliJ says to be careful about the user dictionaries folder (to avoid conflicts if other developer has the same name) - see intellij-support.jetbrains.com/hc/en-us/articles/… – nealmcb Jun 1 '17 at 15:03
Add a comment

29

https://www.gitignore.io/api/jetbrains

Created by https://www.gitignore.io/api/jetbrains

### JetBrains ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### JetBrains Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

build/*